<BsModal @show={{true}} @size="large" @onClose={{action "returnToList"}} as |modal|>

  <form {{action "create" modal.actions.hide on="submit"}}>
    {{#modal.header}}
      <h2 class="modal-title">Create User</h2>
      <button
        type="button"
        class="close"
        aria-label="Close"
        {{action modal.actions.hide}}
      >
        {{entypo-icon "cross"}}
      </button>
    {{/modal.header}}

    {{#modal.body}}
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="user.given-name">First Name</label>
            <Input @id="user.given-name" @type="text" @required={{true}} @class="form-control" @value={{model.givenName}} />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="user.family-name">Last Name</label>
            <Input @id="user.family-name" @type="text" @required={{true}} @class="form-control" @value={{model.familyName}} />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="user.email">Email Address</label>
            <Input @id="user.email" @type="email" @required={{true}} @class="form-control" @value={{model.email}} />
          </div>
        </div>
      </div>
    {{/modal.body}}

    {{#modal.footer}}
      <FormElements::SubmitButton @class="btn btn-success" @disabled={{isActionRunning}} @isSaving={{isActionRunning}} />
    {{/modal.footer}}
  </form>
</BsModal>
