<h1 class="mb-4">Applications</h1>

<div class="row">
  {{#each model as |app|}}
    <ListCard>
      <div class="card-body">
        <h2 class="card-title">{{app.name}}</h2>
        {{#if app.description}}
          <p class="card-text">{{app.description}}</p>
        {{/if}}
      </div>
      <div class="card-footer d-flex justify-content-between">
        {{#link-to "manage.orgs.view.apps.view" app.id class="btn btn-primary" role="button"}}
          {{entypo-icon "popup" class="mr-1"}} Manage
        {{/link-to}}
        {{#link-to "manage.orgs.view.apps.list.edit" app.id class="btn btn-secondary" role="button"}}
          {{entypo-icon "edit"}}
        {{/link-to}}
      </div>
    </ListCard>
  {{else}}
    <p class="col">No applications have been created.</p>
  {{/each}}
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.view.apps.list.create" @title="Create New Application" />
</aside>

{{outlet}}
