<h1 class="mb-4">Organization Invitations</h1>

<div class="row">
  {{#each model as |userOrg|}}
    {{#with userOrg.organization as |org|}}
      <ListCard>
        <div class="card-body">
          <h2 class="card-title">{{org.name}}</h2>
          {{#if org.description}}
            <p class="card-text">{{org.description}}</p>
          {{/if}}
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button class="btn btn-primary" {{action "accept" org.id}}>
            {{entypo-icon "check" class="mr-1"}} Accept
          </button>
        </div>
      </ListCard>
    {{/with}}
  {{else}}

  {{/each}}
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.list.create" @title="Create New Organization" />
</aside>

{{outlet}}
