<h1 class="mb-4">Organizations</h1>

<div class="row">
  {{#each model as |userOrg|}}
    {{#with userOrg.organization as |org|}}
      <div class="mb-4 col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">{{org.name}}</h2>
            {{#if org.description}}
              <p class="card-text">{{org.description}}</p>
            {{/if}}
          </div>
          <div class="card-footer d-flex justify-content-between">
            {{#link-to "manage.orgs.view" org.id class="btn btn-primary" role="button"}}
              {{entypo-icon "popup" class="mr-1"}} Manage
            {{/link-to}}
            {{#link-to "manage.orgs.list.edit" org.id class="btn btn-secondary" role="button"}}
              {{entypo-icon "cog" class="mr-1"}} Edit
            {{/link-to}}
          </div>
        </div>
      </div>
    {{/with}}
  {{/each}}
</div>

<aside class="footer-controls left">
  <CreateButton @routeName="manage.orgs.list.create" @title="Create New Organization" />
</aside>

{{outlet}}
