<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="card">
        <form {{action "submit" on="submit"}}>
          <div class="card-header">
            <h1 class="card-title mb-0">Welcome</h1>
            {{#if sent}}
              <small><a href="#start-over" {{action "startOver"}}>Login with another email address?</a></small>
            {{else}}
              <small>{{#link-to "signup"}}Need an account?{{/link-to}}</small>
            {{/if}}
          </div>
          <div class="card-body">
            {{#if sent}}
              <h3 class="card-title">Almost done!</h3>
              <p class="card-text">A login link has been sent to <em>{{email}}</em>. To continue, open the email and click the link provided.</p>
            {{else}}
              <div class="form-group mb-0">
                <label for="login-email">Email address</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{entypo-icon "email"}}</span>
                  </div>
                  {{input
                    id="login-email"
                    autofocus=true
                    required=true
                    placeholder="user@domain.com"
                    class="form-control form-control-lg"
                    type="email"
                    value=email
                    autocomplete="email"
                  }}
                </div>
              </div>
            {{/if}}
          </div>
          <div class="card-footer">
            {{#if sent}}
              <small>
                {{entypo-icon "info-with-circle" class="text-info mr-1"}} Not seeing the email?
                <br>
                Make sure to check your clutter and/or spam folders.
              </small>
            {{else}}
              <button
                type="submit"
                class="btn btn-block btn-lg btn-primary"
                disabled={{isActionRunning}}
              >
                {{entypo-icon "login" class="mr-1"}} Sign In
              </button>
              {{#if errorMessage}}
                <div class="alert-danger mt-3 mb-0 alert" role="alert"><strong>Oh Snap!</strong> {{errorMessage}}</div>
              {{/if}}
            {{/if}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
