<ListCard>
  <div class="card-body">
    {{#if this.user.name}}
      <h2 class="card-title">{{this.user.name}}</h2>
    {{/if}}
    <p class="card-text">{{this.user.email}}</p>

    <div class="app-user-details">
      {{#if this.user.organizationTitle}}
        <p>{{entypo-icon "v-card"}} {{this.user.organizationTitle}}</p>
      {{/if}}
      {{#if this.user.organization}}
        <p>{{entypo-icon "suitcase"}} {{this.user.organization}}</p>
      {{/if}}
      {{#if this.user.country}}
        <p class="country">{{this.user.country.name}} {{this.user.country.flag}}</p>
      {{/if}}
    </div>

    <ArrayList @label="Access Levels" @values={{accessLevels}} />
    <ArrayList @label="Teams" @values={{teams}} />
  </div>
  <div class="card-footer">
    {{#link-to "manage.orgs.view.apps.view.users.edit" this.user.email class="btn btn-primary" role="button"}}
      {{entypo-icon "edit" class="mr-1"}} Modify
    {{/link-to}}
  </div>
</ListCard>
