<ListCard>
  <div class="card-body">
    {{#if this.user.name}}
      <h2 class="card-title">{{this.user.name}}</h2>
    {{/if}}
    <p class="card-text">
      {{this.user.email}}
      {{#if this.user.verified}}
        <br>
        <span class="email-verified">
          {{entypo-icon "check"}}
          Verified
        </span>
      {{/if}}
    </p>

    <div class="app-user-details app-user-details--org">
      {{#if this.user.organizationTitle}}
        <p>{{entypo-icon "v-card"}} {{this.user.organizationTitle}}</p>
      {{/if}}
      {{#if this.user.organization}}
        <p>{{entypo-icon "suitcase"}} {{this.user.organization}}</p>
      {{/if}}
    </div>

    <div class="app-user-details app-user-details--locale">
      {{#if (or this.user.region.name this.user.postalCode)}}
        <p>
          {{#if this.user.region.name}}
            <span>{{this.user.region.name}}</span>
          {{/if}}
          {{#if this.user.postalCode}}
            <span>{{this.user.postalCode}}</span>
          {{/if}}
        </p>
      {{/if}}
      {{#if this.user.country}}
        <p>{{this.user.country.name}} {{this.user.country.flag}}</p>
      {{/if}}
    </div>

    <div class="app-user-details app-user-details--login-info">
      Last Logged In:
      {{#if this.user.lastLoggedIn}}
        {{moment-format this.user.lastLoggedIn "MM/DD/YYYY h:mma"}}
      {{else}}
        Never
      {{/if}}
    </div>

    <ArrayList @label="Access Levels" @values={{accessLevels}} />
    <ArrayList @label="Teams" @values={{teams}} />
  </div>
  <div class="card-footer">
    {{#link-to "manage.orgs.view.apps.view.users.edit" this.user.email class="btn btn-primary" role="button"}}
      {{entypo-icon "edit" class="mr-1"}} Modify
    {{/link-to}}
  </div>
</ListCard>
