<BsModal @show={{true}} @backdrop="static" @size="large" @onClose={{action "returnToList"}} as |modal|>

  <form {{action this.onSubmit modal.actions.hide on="submit"}}>
    {{#modal.header}}
      <h2 class="modal-title">{{this.title}}</h2>
      <button
        type="button"
        class="close"
        aria-label="Close"
        {{action modal.actions.hide}}
      >
        {{entypo-icon "cross"}}
      </button>
    {{/modal.header}}

    {{#modal.body}}
      <AppUser::ModalForm::GeneralFields @model={{this.model}} />
    {{/modal.body}}

    {{#modal.footer}}
      <FormElements::SubmitButton @class="btn btn-success" @isSaving={{this.isActionRunning}} />
    {{/modal.footer}}
  </form>
</BsModal>
