<BsModal @show={{true}} @size="large" @onClose={{action "returnToAppList"}} as |modal|>

  <form {{action "create" modal.actions.hide on="submit"}}>
    {{#modal.header}}
      <h2 class="modal-title">Create Application</h2>
      <button
        type="button"
        class="close"
        aria-label="Close"
        {{action modal.actions.hide}}
      >
        {{entypo-icon "cross"}}
      </button>
    {{/modal.header}}

    {{#modal.body}}
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="app.name">Name</label>
            <Input @id="app.name" @type="text" @required={{true}} @autofocus={{true}} @class="form-control" @value={{model.name}} />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="app.description">Description</label>
            <Textarea @id="app.description" @class="form-control" @value={{model.description}} @rows={{3}} />
          </div>
        </div>
      </div>
    {{/modal.body}}

    {{#modal.footer}}
      <FormElements::SubmitButton @class="btn btn-success" @disabled={{isActionRunning}} @isSaving={{isActionRunning}} />
    {{/modal.footer}}
  </form>
</BsModal>
