{{!-- template-lint-disable table-groups --}}
<h1 class="mb-4">Users &amp; Invitations</h1>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Users</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Joined</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each model.organizationUsers as |membership|}}
            <tr>
              <td>
                {{#if membership.user.photoURL}}
                  <img alt="User Avatar" src={{membership.user.photoURL}} class="icon icon-md">
                {{/if}}
              </td>
              <td class="align-middle">{{membership.user.email}}</td>
              <td class="align-middle">{{membership.role}}</td>
              <td class="align-middle">
                {{#if membership.createdAt}}
                  {{moment-format membership.createdAt "MMM Do, YYYY"}}
                {{/if}}
              </td>
              <td class="align-middle text-center">
                <a class="dropdown-toggle btn btn-primary" title="Modify User" data-toggle="dropdown" href="#" role="button">
                  {{entypo-icon "cog"}}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item">Change Role</a>
                  <a href="#" class="dropdown-item">Remove From Org</a>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>

        <h2 class="card-title my-4">Invitations</h2>

        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Email</th>
            <th scole="col">Role</th>
            <th scole="col">Invited</th>
            <th scole="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each model.organizationInvitations as |invitation|}}
            <tr>
              <td>
                {{#if invitation.user.photoURL}}
                  <img alt="User Avatar" src={{invitation.user.photoURL}} class="icon icon-md">
                {{/if}}
              </td>
              <td class="align-middle">{{invitation.user.email}}</td>
              <td class="align-middle">{{invitation.role}}</td>
              <td class="align-middle">
                {{#if invitation.createdAt}}
                  {{moment-format invitation.createdAt "MMM Do, YYYY"}}
                {{/if}}
              </td>
              <td class="align-middle text-center">
                <a class="dropdown-toggle btn btn-primary" title="Modify User" data-toggle="dropdown" href="#" role="button">
                  {{entypo-icon "cog"}}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item">Edit</a>
                  <a href="#" class="dropdown-item">Remove</a>
                </div>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="7" class="text-center text-muted">
                No pending invitations were found.
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.view.users.invite" @title="Invite a User" />
</aside>

{{outlet}}
