<BsModal @show={{show}} @backdrop="static" @size="large" @onClose={{action "close" modal.actions.hide}} as |modal|>

  <form {{action "update" modal.actions.hide on="submit"}}>
    {{#modal.header}}
      <h2 class="modal-title">{{this.title}}</h2>
      {{#if isModalCloseable}}
        <button
          type="button"
          class="close"
          aria-label="Close"
          {{action modal.actions.hide}}
        >
          {{entypo-icon "cross"}}
        </button>
      {{/if}}
    {{/modal.header}}

    {{#modal.body}}
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <FormElements::Label @for="user.givenName" @required={{true}}>First Name</FormElements::Label>
            <Input @id="user.givenName" @type="text" @required={{true}} @autofocus={{true}} @class="form-control" @value={{this.model.givenName}} />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <FormElements::Label @for="user.familyName" @required={{true}}>Last Name</FormElements::Label>
            <Input @id="user.familyName" @type="text" @required={{true}} @class="form-control" @value={{this.model.familyName}} />
          </div>
        </div>
      </div>
    {{/modal.body}}

    {{#modal.footer}}
      <FormElements::SubmitButton @class="btn btn-success" @isSaving={{this.isActionRunning}} />
    {{/modal.footer}}
  </form>
</BsModal>
