<div class="card-body">
  <h2 class="card-title">Access Levels</h2>
  <p class="card-text">Manage your applications's access levels.</p>
  <ul class="list-group mb-3">
    {{#each accessLevels as |level|}}
      {{#link-to "manage.orgs.org.apps.app.access-levels.level" level.id tagName="li" class="list-group-item"}}
        {{#link-to "manage.orgs.org.apps.app.access-levels.level" leelv.id}}
          {{ level.name }}
          <small class="text-muted">{{level.description}}</small>
        {{/link-to}}
      {{/link-to}}
    {{/each}}
  </ul>
  <a href="#" {{action "showCreateModal"}}>
    {{entypo-icon "plus"}} New access level
  </a>
</div>

<ApplicationAccessLevelCreateModal @isOpen={{isModalOpen}} @appId={{appId}} />
