{{ log app }}
<div class="card-body">
  <div class="row">
    <div class="col-md-2 text-center">
      <img src={{app.photoURL}} alt={{app.name}} class="icon icon-lg mr-4">
    </div>
    <div class="col">
      {{!-- <button title="Configure app" class="float-right btn btn-sm btn-link">
        {{entypo-icon "cog"}}
      </button> --}}
      <h1>{{app.name}}</h1>
      <small class="text-muted">
        {{app.description}}
      </small>
    </div>
  </div>
</div>
