{{#if user.isAuthenticated}}
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      title="User Settings"
      data-toggle="dropdown"
      href="#"
      role="button"
    >
      {{entypo-icon "user"}} <span class="d-none d-md-inline">{{user.model.givenName}} {{user.model.familyName}}</span>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item dropdown-item d-flex justify-content-between" href="#" title="Update User Profile" {{action "displayUpdateProfile"}}>
        Update Profile
        {{entypo-icon "v-card" class="ml-1"}}
      </a>
      {{!-- {{update-profile-modal isOpen=isUpdateProfileOpen model=user.model}} --}}

      <div class="dropdown-divider"></div>

      {{#link-to "logout" class="dropdown-item d-flex justify-content-between" title="Sign out of the Application"}}
        Sign out
        {{entypo-icon "log-out"}}
      {{/link-to}}
    </div>
  </li>
{{else}}
  <li class="nav-item">
    {{#link-to "login" class="nav-link" title="Sign into IdentityX"}}
      <NavBar::Item @icon="login">Sign In</NavBar::Item>
    {{/link-to}}
  </li>
  <li class="nav-item">
    {{#link-to "signup" class="nav-link" title="Create new user account"}}
      <NavBar::Item @icon="add-user">Sign Up</NavBar::Item>
    {{/link-to}}
  </li>
{{/if}}
