{{#link-to "manage.orgs" class="navbar-brand"}}Identity<span class="text-dark">X</span>{{/link-to}}

<NavItems @orgId={{orgId}} @appId={{appId}} />

<ul class="navbar-nav ml-auto">

  <NavContext
    @organizations={{organizations}}
    @orgId={{orgId}}
    @appId={{appId}}
    @organization={{organization}}
    @application={{application}}
  />

  <li class="nav-item">
    <a
      href="https://as3.gitbook.io/identity-x"
      title="Application Documentation"
      class="nav-link"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{entypo-icon "text-document"}} <span class="d-none d-md-inline">Documentation</span>
    </a>
  </li>

  <NavUser />

</ul>
