<div class="card-body">
  <h2 class="card-title">Applications</h2>
  <p class="card-text">Manage your organization's applications.</p>
  <ul class="list-group mb-3">
    {{#each applications as |app|}}
      {{#link-to "manage.orgs.view.apps.view" app.id tagName="li" class="list-group-item"}}
        {{#link-to "manage.orgs.view.apps.view" app.id}}
          {{ app.name }}
          <small class="text-muted">{{app.description}}</small>
        {{/link-to}}
      {{/link-to}}
    {{/each}}
  </ul>
  <a href="#" {{action "showCreateModal"}}>
    {{entypo-icon "plus"}} New application
  </a>
</div>

<ApplicationCreateModal @isOpen={{isModalOpen}} @orgId={{orgId}} />
