<div class="card-body">
  <h2 class="card-title">Invitations</h2>
  <p class="card-text">Manage your organization's pending invitations.</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scole="col">Role</th>
        <th scole="col">Email</th>
        <th scole="col">Invited</th>
        <th scole="col"></th>
        {{!-- <th scope="col" class="text-center text-info">{{entypo-icon "cog"}}</th> --}}
      </tr>
    </thead>
    <tbody>
      {{#each invitations as |invitation|}}
        <OrganizationInvitation @invitation={{invitation}} />
      {{/each}}
    </tbody>
  </table>
  <a href="#" {{action "showInviteModal"}}>
    {{entypo-icon "plus"}} Invite a user
  </a>
</div>

<OrganizationInvitationModal @isOpen={{isInviteOpen}} @organization={{organization}} />
