<div class="card-body">
  <h2 class="card-title">Organizations</h2>
  <p class="card-text">Access your organizations.</p>
  <ul class="list-group mb-3">
    {{#each organizations as |org|}}
      {{#link-to "manage.orgs.org" org.id tagName="li" class="list-group-item"}}
        {{#link-to "manage.orgs.org" org.id}}
          <img alt="Organization avatar" src={{org.photoURL}} class="icon icon-md mr-1"> {{ org.name }}
          <small class="text-muted">{{org.description}}</small>
        {{/link-to}}
      {{/link-to}}
    {{/each}}
  </ul>
  <a href="#" {{action "showCreateModal"}}>
    {{entypo-icon "plus"}} New organization
  </a>
</div>

<OrganizationCreateModal @isOpen={{isModalOpen}} />
