<h1 class="mb-4">
  <AccessLevel::Icon /> Access Levels
  <span class="text-muted">({{format-number this.model.totalCount "0,0"}})</span>
</h1>

<div class="row">
  <FetchMore
    @query={{this.observable}}
    @edges={{this.model.edges}}
    @hasNextPage={{this.model.pageInfo.hasNextPage}}
    @endCursor={{this.model.pageInfo.endCursor}}
    @resultKey="accessLevels"
    as |fetch|
  >
    {{#each fetch.nodes as |node|}}
      <AccessLevel::Card @accessLevel={{node}} />
    {{else}}
      <p>No access levels were found.</p>
    {{/each}}

    {{#if fetch.hasNextPage}}
      <InView @on-viewport-enter={{action fetch.actions.loadMore}} />
    {{/if}}

    {{#if fetch.isFetching}}
      <FetchMoreLoading @class="my-0" />
    {{/if}}
  </FetchMore>
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.view.apps.view.access-levels.create" @title="Create New Access Level" />
</aside>

{{outlet}}
