<h1 class="mb-4">
  <Comment::Icon /> Comments
  <span class="text-muted">({{format-number this.model.totalCount "0,0"}})</span>
</h1>

<div class="row">
  <div class="col-xl-8">
    <FetchMore
      @query={{this.observable}}
      @edges={{this.model.edges}}
      @hasNextPage={{this.model.pageInfo.hasNextPage}}
      @endCursor={{this.model.pageInfo.endCursor}}
      @resultKey={{this.resultKey}}
      as |fetch|
    >
      {{#if fetch.nodes.length}}
        <div class="card">
          <div class="list-group list-group-flush">
            {{#each fetch.nodes as |node|}}
              <Comment::ListItem @node={{node}} />
            {{/each}}
            {{#if fetch.hasNextPage}}
              <InView @on-viewport-enter={{action fetch.actions.loadMore}} />
            {{/if}}

            {{#if fetch.isFetching}}
              <FetchMoreLoading @class="my-3" />
            {{/if}}
          </div>
        </div>
      {{else}}
        <p>No comments were found.</p>
      {{/if}}
    </FetchMore>
  </div>
</div>

{{outlet}}
