<div class="comment-index">
  <div class="comment-index__sidebar">
    <div class="comment-filters">
      <h1 class="mb-4">
        <Comment::Icon /> Comments
        <span class="text-muted">({{format-number this.model.totalCount "0,0"}})</span>
      </h1>
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <strong><EntypoIcon @name="layers" /> Filters</strong>
          <button class="btn btn-sm btn-dark" disabled={{filtersNotSelected}} {{action "clearFilters"}}><EntypoIcon @name="cross" /> Clear</button>
        </div>
        <div class="card-body">
          <Comment::Fields::Statuses @selected={{statuses}} @onChange={{action "setStatuses"}} />

          <div class="form-group">
            <label>Stream</label>
            {{#power-select-multiple
              onchange=(action (mut foo))
              as |domain|
            }}
              {{domain}}
            {{/power-select-multiple}}
          </div>

          <Comment::Fields::Users @value={{users}} @on-change={{action "setUsers"}} />

          <div class="form-group mb-0">
            <label>Dates</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-index__main">
    <FetchMore
      @query={{this.observable}}
      @edges={{this.model.edges}}
      @hasNextPage={{this.model.pageInfo.hasNextPage}}
      @endCursor={{this.model.pageInfo.endCursor}}
      @resultKey={{this.resultKey}}
      as |fetch|
    >
      {{#if fetch.nodes.length}}
        <div class="card">
          <div class="list-group list-group-flush list-group--comments">
            {{#each fetch.nodes as |node|}}
              <Comment::ListItem @node={{node}} />
            {{/each}}
            {{#if fetch.hasNextPage}}
              <InView @on-viewport-enter={{action fetch.actions.loadMore}} />
            {{/if}}

            {{#if fetch.isFetching}}
              <FetchMoreLoading @class="my-3" />
            {{/if}}
          </div>
        </div>
      {{else}}
        <p>No comments were found.</p>
      {{/if}}
    </FetchMore>
  </div>
</div>

{{outlet}}
