<h1 class="mb-4">
  <Comment::Icon /> Comments
  <span class="text-muted">({{format-number this.model.totalCount "0,0"}})</span>
</h1>

<div class="row">
  <div class="col-xl-8">
    <FetchMore
      @query={{this.observable}}
      @edges={{this.model.edges}}
      @hasNextPage={{this.model.pageInfo.hasNextPage}}
      @endCursor={{this.model.pageInfo.endCursor}}
      @resultKey={{this.resultKey}}
      as |fetch|
    >
      {{#if fetch.nodes.length}}
        <div class="card">
          <div class="list-group list-group-flush">
            {{#each fetch.nodes as |node|}}
              <div class="list-group-item">
                <h2 class="card-title">
                  <EntypoIcon @name="list" />
                  {{node.stream.title}}
                </h2>
                <p class="card-text">{{node.body}}</p>
                <Comment::Status
                  @approved={{node.approved}}
                  @banned={{node.banned}}
                  @class="mb-1"
                />
                <p class="app-user-details mb-3">
                  <AppUser::Icon /> {{#link-to "manage.orgs.view.apps.view.users.edit" node.user.email}}{{node.user.email}}{{/link-to}} ({{node.user.displayName}})
                  {{#if node.user.banned}}<span class="badge badge-danger">banned</span>{{/if}}
                </p>

                <div class="d-block d-sm-flex justify-content-between">
                  <div class="mb-3 mb-sm-0">
                    <p class="small text-muted mb-1"><EntypoIcon @name="clock" /> {{moment-from-now node.createdAt}} on {{moment-format node.createdAt "MM/DD/YYYY \a\t h:mma"}}</p>
                    <p class="small text-muted mb-0"><EntypoIcon @name="key" /> {{node.id}}</p>
                  </div>

                  <div class="btn-toolbar">
                    <div class="btn-group mr-2">
                      {{#if node.approved}}
                        <button type="button" class="btn btn-warning" disabled={{node.user.banned}}>
                          <EntypoIcon @name="cross" /> Deny
                        </button>
                      {{else}}
                        <button type="button" class="btn btn-success" disabled={{node.user.banned}}>
                          <EntypoIcon @name="check" /> Approve
                        </button>
                      {{/if}}
                    </div>

                    <div class="btn-group">
                      <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                          <EntypoIcon @name="cog" />
                        </button>
                        <div class="dropdown-menu">
                          <h6 class="dropdown-header">User</h6>
                          <a class="dropdown-item d-flex justify-content-between" href="#">Edit <AppUser::Icon /></a>
                          <a class="dropdown-item d-flex justify-content-between" href="#">Ban <EntypoIcon @name="block" /></a>
                          <div class="dropdown-divider"></div>
                          <h6 class="dropdown-header">Comment</h6>
                          <a class="dropdown-item d-flex justify-content-between" href="#">Delete <EntypoIcon @name="trash" /></a>
                          <a class="dropdown-item d-flex justify-content-between" href="#">Flag <EntypoIcon @name="flag" /></a>
                          <a class="dropdown-item d-flex justify-content-between" href="#">Edit <EntypoIcon @name="edit" /></a>

                        </div>
                      </div>

                      <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                          <EntypoIcon @name="eye" />
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <h6 class="dropdown-header">View Online</h6>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            {{/each}}
            {{#if fetch.hasNextPage}}
              <InView @on-viewport-enter={{action fetch.actions.loadMore}} />
            {{/if}}

            {{#if fetch.isFetching}}
              <FetchMoreLoading @class="my-3" />
            {{/if}}
          </div>
        </div>
      {{else}}
        <p>No comments were found.</p>
      {{/if}}
    </FetchMore>
  </div>
</div>
