<h1 class="mb-4"><Team::Icon /> Teams</h1>

<div class="row">
  {{#each model as |team|}}
    <ListCard>
      <div class="card-body">
        <h2 class="card-title">{{team.name}}</h2>
        {{#if team.description}}
          <p class="card-text">{{team.description}}</p>
        {{/if}}
        <ArrayList @label="Email Domains" @values={{team.domains}} />
        <ArrayList @label="IP Addresses" @values={{team.cidrs}} />
      </div>
      <div class="card-footer">
        {{#link-to "manage.orgs.view.apps.view.teams.edit" team.id class="btn btn-primary" role="button"}}
          {{entypo-icon "edit" class="mr-1"}} Modify
        {{/link-to}}
      </div>
    </ListCard>
  {{else}}
    <div class="col">
      <p>No teams have been created.</p>
    </div>
  {{/each}}
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.view.apps.view.teams.create" @title="Create New Team" />
</aside>

{{outlet}}
