<h1 class="mb-4"><AppUser::Icon /> Users</h1>

<div class="row">
  {{#each model as |user|}}
    <ListCard>
      <div class="card-body">
        <h2 class="card-title">{{user.givenName}} {{user.familyName}}</h2>
        <p class="card-text">{{user.email}}</p>
      </div>
      <div class="card-footer">
        {{#link-to "manage.orgs.view.apps.view.users.edit" user.id class="btn btn-primary" role="button"}}
          {{entypo-icon "edit" class="mr-1"}} Modify
        {{/link-to}}
      </div>
    </ListCard>
  {{else}}
    <div class="col">
      <p>No users have been created.</p>
    </div>
  {{/each}}
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.view.apps.view.users.create" @title="Create New User" />
</aside>

{{outlet}}
