<BsModal @show={{true}} @backdrop="static" @size="large" @onClose={{action "returnToList"}} as |modal|>

  <form {{action "create" modal.actions.hide on="submit"}}>
    {{#modal.header}}
      <h2 class="modal-title">Create Team</h2>
      <button
        type="button"
        class="close"
        aria-label="Close"
        {{action modal.actions.hide}}
      >
        {{entypo-icon "cross"}}
      </button>
    {{/modal.header}}

    {{#modal.body}}
      <div class="row">
        <div class="col">
          <div class="form-group">
            <FormElements::Label @for="team.name" @required={{true}}>Name</FormElements::Label>
            <Input @id="team.name" @type="text" @required={{true}} @autofocus={{true}} @class="form-control" @value={{model.name}} />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <FormElements::Label @for="team.description">Description</FormElements::Label>
            <Textarea @id="team.description" @class="form-control" @value={{model.description}} @rows={{3}} />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group mb-3 mb-lg-0">
            <FormElements::Label @for="team.domains">Email Domains</FormElements::Label>
            <Textarea @id="team.domains" @value={{model.domains}} @class="form-control" />
            <small id="signup-orgname-help" class="form-text text-muted">
              {{entypo-icon "info-with-circle" class="text-info"}}
              Enter each domain name on a new line.
            </small>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group mb-0">
            <FormElements::Label @for="team.cidrs">IP Addresses / CIDRs</FormElements::Label>
            <Textarea @id="team.cidrs" @value={{model.cidrs}} @class="form-control" />
            <small id="signup-orgname-help" class="form-text text-muted">
              {{entypo-icon "info-with-circle" class="text-info"}}
              Enter each IP Address or CIDR on a new line.
            </small>
          </div>
        </div>
      </div>
    {{/modal.body}}

    {{#modal.footer}}
      <FormElements::SubmitButton @class="btn btn-success" @isSaving={{isActionRunning}} />
    {{/modal.footer}}
  </form>
</BsModal>
