<a class="nav-link dropdown-toggle {{active}}" data-toggle="dropdown" href="#" role="button">
  <NavBar::Item @icon="browser">
    {{#if context.app.name}}
      {{context.app.name}}
    {{else}}
      Select Application
    {{/if}}
  </NavBar::Item>
</a>

<div class="dropdown-menu">
  {{#each apps as |app|}}
    {{#link-to "manage.orgs.view.apps.view" app.id class="dropdown-item dropdown-item d-flex align-items-center"}}
      {{app.name}}
    {{/link-to}}
  {{/each}}
  {{#if apps.length}}
    <div class="dropdown-divider"></div>
  {{/if}}
  {{#link-to "manage.orgs.view.apps.list.create" class="dropdown-item dropdown-item"}}
    {{entypo-icon "circle-with-plus" class="mr-1"}}
    New Application
  {{/link-to}}
</div>
