<a
  class="nav-link dropdown-toggle"
  title="User Settings"
  data-toggle="dropdown"
  href="#user-settings"
  role="button"
>
  {{entypo-icon "user"}}
</a>

<div class="dropdown-menu dropdown-menu-right">
  {{!-- {{#link-to "manage.orgs.invites" class="dropdown-item d-flex justify-content-between"}}
    View Invites
    {{entypo-icon "mail" class="ml-1"}}
  {{/link-to}} --}}
  {{!-- <button class="dropdown-item d-flex justify-content-between" {{action "showModal"}}>
    Update Profile
    {{entypo-icon "v-card" class="ml-1"}}
  </button> --}}

  {{!-- <div class="dropdown-divider"></div> --}}

  {{#link-to "logout" class="dropdown-item d-flex justify-content-between" title="Sign out of IdentityX"}}
    Sign out
    {{entypo-icon "log-out"}}
  {{/link-to}}
</div>
