<a
  id="user-settings-dropdown"
  class="nav-link dropdown-toggle"
  title="User Settings"
  data-toggle="dropdown"
  href="#user-settings"
  role="button"
>
  <NavBar::Item @icon="user">{{this.user.givenName}} <span class="d-none d-xl-inline">{{this.user.familyName}}</span></NavBar::Item>
</a>

<div class="dropdown-menu dropdown-menu-right">
  <Dropdown::ItemAction
    @name="update-profile"
    @label="Update Profile"
    @icon="v-card"
    @onClick={{action "openUserProfile"}}
    @mustConfirm={{false}}
  />
  {{#link-to "manage.invites.index" class="dropdown-item-with-icon"}}
    View Invites
    {{entypo-icon "mail"}}
  {{/link-to}}

  <div class="dropdown-divider"></div>

  {{#link-to "logout" class="dropdown-item-with-icon" title="Sign out of IdentityX"}}
    Sign out
    {{entypo-icon "log-out"}}
  {{/link-to}}
</div>

<User::UpdateProfile @show={{this.isUserProfileOpen}} @user={{this.user}} />
