{{#if options.length}}
  {{#list-controls/button
    id="dropdown-display-limit"
    disabled=disabled
    class=(concat "dropdown-toggle" " " buttonClass)
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  }}
    <span class="d-none d-sm-inline">{{label}}</span> {{limit}}
  {{/list-controls/button}}

  <div
    class="dropdown-menu {{alignmentClass}}"
    aria-labelledby="dropdown-display-limit"
  >
    {{#each filteredOptions as |option|}}
      <a class="dropdown-item" href="#" {{action "setLimit" option}}>{{option}}</a>
    {{/each}}
  </div>
{{/if}}
