<div class="input-group">
  <div class="input-group-prepend">
    <div class="btn-group">
      {{list-controls/search-fields fields=fields field=field}}
      {{list-controls/search-type type=position}}
    </div>
  </div>

  {{input
    type="search"
    class="form-control shadowed"
    placeholder=placeholder
    value=value
    disabled=disabled
    focusIn=(action "selectAll")
  }}
  <div class="input-group-append">
    <div class="btn-group">
      {{#list-controls/button class=buttonClass type="submit" disabled=disabled}}
        {{entypo-icon icon}}{{#if label}} {{label}}{{/if}}
      {{/list-controls/button}}
      {{#list-controls/button
        class=buttonClass
        disabled=disabled
        click=(action "clear")
      }}
        {{entypo-icon "cross"}}
      {{/list-controls/button}}
    </div>
  </div>
</div>
