<ListControls::Button
  @id="dropdown-search-fields"
  @disabled={{this.disabled}}
  @class={{concat "dropdown-toggle" " " this.buttonClass}}
  @data-toggle="dropdown"
  @aria-haspopup="true"
  @aria-expanded="false"
>
  <span class="d-none d-sm-inline">{{this.selected.label}}</span>
</ListControls::Button>

<div
  class="dropdown-menu {{this.alignmentClass}}"
  aria-labelledby="dropdown-search-fields"
>
  {{#each fields as |field|}}
    <a class="dropdown-item" href="#set-field" {{action "setField" field.key}}>{{field.label}}</a>
  {{/each}}
</div>
