{{#if options.length}}
  <div class="btn-group {{directionClass}}" role="group">
    {{#list-controls/button
      id="dropdown-sort-type"
      disabled=disabled
      class=(concat "dropdown-toggle" " " buttonClass)
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    }}
      <span class="d-none d-sm-inline">{{selected.label}}</span>
    {{/list-controls/button}}

    <div
      class="dropdown-menu {{alignmentClass}}"
      aria-labelledby="dropdown-sort-type"
    >
      {{#each filteredOptions as |option|}}
        <a class="dropdown-item" href="#" {{action "sortBy" option.key}}>{{option.label}}</a>
      {{/each}}
    </div>
  </div>
  {{#list-controls/button
    class=buttonClass
    disabled=disabled
    click=(action "toggleAscending")
  }}
    {{entypo-icon (if ascending "arrow-up" "arrow-down")}}
  {{/list-controls/button}}
{{/if}}
