<BsModal @show={{true}} @onClose={{action "returnToList"}} as |modal|>

  <form {{action "create" modal.actions.hide on="submit"}}>
    {{#modal.header}}
      <h2 class="modal-title">Invite User to Organization</h2>
      <button
        type="button"
        class="close"
        aria-label="Close"
        {{action modal.actions.hide}}
      >
        {{entypo-icon "cross"}}
      </button>
    {{/modal.header}}

    {{#modal.body}}
      <div class="row">
        <div class="col">
          <div class="form-group">
            <FormElements::Label @for="invite.email" @required={{true}}>Email Address</FormElements::Label>
            <Input @id="invite.email" @type="email" @required={{true}} @value={{model.email}} @class="form-control" />
          </div>
        </div>
      </div>
      {{!-- <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="user-role">Role</label>
            {{#power-select renderInPlace=true options=roles selected=role onchange=(action (mut role)) as |role|}}
              {{ role }}
            {{/power-select}}
          </div>
        </div>
      </div> --}}
    {{/modal.body}}

    {{#modal.footer}}
      <FormElements::SubmitButton @class="btn btn-success" @disabled={{isActionRunning}} @isSaving={{isActionRunning}} />
    {{/modal.footer}}
  </form>
</BsModal>
