<BsModal @show={{true}} @backdrop="static" @onClose={{action "returnToList"}} as |modal|>

  <form {{action "create" modal.actions.hide on="submit"}}>
    {{#modal.header}}
      <h2 class="modal-title">Invite User to Organization</h2>
      <button
        type="button"
        class="close"
        aria-label="Close"
        {{action modal.actions.hide}}
      >
        {{entypo-icon "cross"}}
      </button>
    {{/modal.header}}

    {{#modal.body}}
      <div class="row">
        <div class="col">
          <div class="form-group">
            <FormElements::Label @for="invite.email" @required={{true}}>Email Address</FormElements::Label>
            <Input @id="invite.email" @type="email" @required={{true}} @value={{model.email}} @class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group mb-0">
            <FormElements::Label @for="invite.role" @required={{true}}>Role</FormElements::Label>
            <FormElements::Select @id="invite.role" @required={{true}} @value={{model.role}} @on-change={{action "setRole"}} @class="custom-select" as |select|>
              {{#each this.roles as |role|}}
                <select.option @value={{role}}>{{role}}</select.option>
              {{/each}}
            </FormElements::Select>
          </div>
        </div>
      </div>
    {{/modal.body}}

    {{#modal.footer}}
      <FormElements::SubmitButton @class="btn btn-success" @isSaving={{isActionRunning}} @icon="paper-plane" @label="Send" @onSavingLabel="Sending..." />
    {{/modal.footer}}
  </form>
</BsModal>
